<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/js/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("HeaderScripts", false)
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/> *@
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"></a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item dropdown">


                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Apartment" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Apartments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Association" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Associations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Bill" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Bills</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Building" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Buildings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Fund" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Funds</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Owner" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Owners</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Payment" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Payments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Penalty" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Penalties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Person" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Persons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Utility" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.Utilites</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="UtilityBill" asp-action="Index">@App.Resources.WebApp.Views.Shared._Layout.UtilityBills</a>
                                </li>
                            </ul>
                            
                        </li>
                    }
                    <partial name="_LanguageSelection"/>
                </ul>
                <partial name="_LoginPartial"/>
                
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3 vh-100">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - WebApp | UI Culture: @Thread.CurrentThread.CurrentUICulture.Name | Culture: @Thread.CurrentThread.CurrentCulture.Name
    </div>
</footer>


@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@


<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.validate.globalize.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

@{
    var currentCultureCode = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0];

    // map .net datetime format strings to flatpick/momentjs format

    // https://flatpickr.js.org/formatting/
    // d - day of month,2 digits
    // j - day of month, no leading zero
    // m - month, 2 digits
    // n - mont, no leading zero
    // y - 2 digit year, Y - 4 digit year

    // https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo?view=netcore-3.1
    // dd.MM.yyyy or dd/MM/yyyy

    var datePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    datePattern = datePattern
        .Replace("dd", "d")
        .Replace("MM", "m")
        .Replace("yyyy", "Y");

    // LongTimePattern and ShortTimePattern HH:mm for 23:59,  h:mm tt for 11:59 PM
    var timePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortTimePattern;
    var clock24H = timePattern.Contains("tt") == false;
    timePattern = timePattern
        .Replace("HH", "H")
        .Replace("mm", "i")
        .Replace("ss", "S")
        .Replace("tt", "K");
    var dateTimePattern = timePattern + " " + datePattern;
}


<script>
    // https://github.com/globalizejs/globalize#installation
    $.when(
        $.get("/js/cldr-core/supplemental/likelySubtags.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/numberingSystems.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/timeData.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/weekData.json", null, null, "json"),

        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/numbers.json", null, null, "json"),
        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/currencies.json", null, null, "json"),

        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-generic.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-gregorian.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/dateFields.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/timeZoneNames.json", null, null, "json")
    ).then(function () {
        return [].slice.apply(arguments, [0]).map(function (result) {
            Globalize.load(result[0]);
        });
    }).then(function () {
        // Initialise Globalize to the current culture
        Globalize.locale('@currentCultureCode');
    });

    $(function () {
            $('[type="datetime-local"]').each(function (index, value) {
                $(value).attr('type', 'text');
                $(value).val(value.defaultValue);
    		    $(value).flatpickr({
    		        locale: "@currentCultureCode",
    		        enableTime: true,
    	    	    altFormat: "@dateTimePattern",
    	    	    altInput: true,
    	    	    // dateFormat: "Z", // iso format (causes -3h during summer)
    	    	    // use direct conversion, let backend deal with utc/whatever conversions
    	    	    dateFormat: "Y-m-d H:i:s",
    	    	    disableMobile: true,
    	    	    time_24hr: @(clock24H.ToString().ToLower()),
    		    });
            });

            $('[type="time"]').each(function (index, value) {
                $(value).attr('type', 'text');
                $(value).val(value.defaultValue);
    		    $(value).flatpickr({
    	    	    locale: "@currentCultureCode",
    	    	    enableTime: true,
    	    	    noCalendar: true,

    	    	    altFormat: "@timePattern",
    	    	    altInput: true,
    	    	    dateFormat: "H:i", // 24h HH:mm
    	    	    disableMobile: true,

    	    	    time_24hr: @(clock24H.ToString().ToLower()),
    		    });
            });

            $('[type="date"]').each(function (index, value) {
    		    $(value).attr('type', 'text');
    		    $(value).val(value.defaultValue);
    		    $(value).flatpickr({
        		    locale: "@currentCultureCode",
    	    	    altFormat: "@datePattern",
    	    	    altInput: true,
                    disableMobile: true,
    	    	    dateFormat: "Y-m-d", // YYYY-MM-DD
    		    });
            });
        });

</script>
</body>
</html>